<style>
  .suggestions .col {
    display: table-cell;
    vertical-align: top;
  }
  .suggestions h3        { width: 150px; }
  .suggestions table     { margin-top: 5px; }
  .suggestions table td  { padding: 6px 1px 4px 10px; }
  .suggestions table pre { font-size: 1.1em; }

  .suggestions tr:first-child td { border: none; }
</style>
<div class="sub">
  <div class="inset variables suggestions">
    <div class="col">
      <h3>Did you mean?</h3>
    </div>
    <div class="col">
      <table class="var_table">
        <% @suggestions.each do |suggestion| %>
        <tr>
          <td>
            <pre><%== @formatter.format(suggestion) %></pre>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
