name: Ruby

on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '2.5', '2.6', '2.7', '3.0', '3.1', '3.2', 'ruby-head', 'jruby-9.2', 'jruby-9.3', 'jruby-9.4', 'jruby-head' ]
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Build and test with Rake
      run: |
        gem i test-unit
        RUBYOPT='--disable-did_you_mean' rake

  benchmark:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2.0
    - name: Test performance and accuracy
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 2
        RUBYOPT='--disable-did_you_mean' bundle exec rake test:accuracy
        RUBYOPT='--disable-did_you_mean' bundle exec rake benchmark:memory
